header {
    background-color: maroon;
    color: white;
    ul {
        li {
            border: black solid 1px;
            background-color: #808080;
            display: inline-block;
            margin: 15px;
            padding-left: 10px;
            padding-right: 10px;
            a {
                
            }
        }
    }
}